@model Etch.OrchardCore.Lever.ViewModels.LeverSettingsViewModel

<div class="form-group">
    <label asp-for="ApiKey">@T["API Key"]</label>
    <input asp-for="ApiKey" class="form-control" />
    <span class="hint">@T["Create and manage your API keys from the <a href=\"https://hire.lever.co/settings/integrations\" target=\"_blank\">Integrations and API page in Settings</a> of your Lever account, on the API Credentials tab."]</span>
</div>

<div class="form-group">
    <label asp-for="Site">@T["Site"]</label>
    <input asp-for="Site" class="form-control" />
    <span class="hint">@T["Provide the site name from Lever."]</span>
</div>
