@model ActivityViewModel<LeverPostingNotificationEvent>
@using OrchardCore.Workflows.Helpers
@using OrchardCore.Workflows.ViewModels
@using Etch.OrchardCore.Lever.Workflows.Activities

<header>
    <h4><span class="fa fa-user-lock"></span> @Model.Activity.GetTitleOrDefault(() => T["Lever posting apply event"])</h4>
</header>